body {
    padding-top: 50px;
    padding-bottom: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#backToForm {
    padding: 0;
}

.totalTable .calcBottom {
    border-bottom: 4px double;
    padding-bottom: 4px;
    margin-bottom: 4px;
}
.totalTable .sumRow {
    margin-bottom: 16px;
}

#totalResult {
    font-size: 1.0625rem;
}

.tableRow .productTotal {
    font-size: 1.125rem;
}
.tableRow .colA {
    flex-basis: 20%;
}
.tableRow .colB {
    flex-basis: 50%;
}
.tableRow .colC {
    flex-basis: 30%;
}