body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#resultsCollection {
  .prodResultHolder {
    margin-top: 1.52rem;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
  }
}

#backToForm {padding: 0;}

.totalTable {
  .calcBottom {
    border-bottom: 4px double;
    padding-bottom: 4px;
  }

  .sumRow {margin-bottom: 16px;}
}

#totalResult {
  font-size: 1.0625rem;
  margin-top: 1.52rem;
}

.tableRow {
  .productTotal {font-size: 1.125rem;}

  .col {
    &A {flex-basis: 10%;}
    &B {flex-basis: 50%;}
    &C {flex-basis: 40%;}
  }
}
